#div1{
    background-color: aqua;
    height: 180px;
}

#div2{
    background-color: red;
    height: 180px;
}

#div3{
    background-color: yellow;
    height: 180px;
}

#div4{
    background-color: green;
    height: 180px;
}