h1{
    background-color: orange;
}

p{
    background-color: blueviolet;
}

h2{
    background-color: darkred;
}

#p2{
    background-color: brown;
}

.stilo{
    background-color: green;
    height: 200px;
    width: 600px;
}